In [17]:
# predicting profits of a startup using multiple linear regression
# by nandita sajeev

# importing the dataset

import pandas as pd

dataset = pd.read_csv("https://raw.githubusercontent.com/mk-gurucharan/Regression/master/Startups_Data.csv")

# X contains all the independent variables of the dataset namely R&D Spend, Administration, Marketing Spend and State
X = dataset.iloc[:, :-1].values

# Y is the dependent variable that is Profit
Y = dataset.iloc[:, 4].values   # 4 as python indexes start from 0 and Profit is in the 5th column
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
import numpy as np

# creating the ColumnTransfer object
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [19]:
# adding a dummy variable trap
X = X[:,1:]

In [20]:
# splitting the dataset into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

In [21]:
# fitting the regressor
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression()

In [22]:
# predicting the test set
y_pred = regressor.predict(X_test)

In [36]:
# comparing test set with the predicted values

df = pd.DataFrame({'Real Values' : Y_test, "Predicted Values" : y_pred, "Difference": Y_test-y_pred})
df

   Real Values  Predicted Values    Difference
0    103282.38     103015.201598    267.178402
1    144259.40     132582.277608  11677.122392
2    146121.95     132447.738452  13674.211548
3     77798.83      71976.098513   5822.731487
4    191050.39     178537.482211  12512.907789
5    105008.31     116161.242302 -11152.932302
6     81229.06      67851.692097  13377.367903
7     97483.56      98791.733747  -1308.173747
8    110352.25     113969.435330  -3617.185330
9    166187.94     167921.065696  -1733.125696

In [28]:
# evaluating our model usinf r2_score
from sklearn.metrics import r2_score
r2_score(Y_test, y_pred)

0.9347068473282446